header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: gainsboro;
  padding: 0 10px;
  box-sizing: border-box;
  gap: 100px;
}

header > h1 {
  text-wrap: nowrap;
}

header > input[type='text'] {
  height: 25px;
  width: 100%;
}

.nav-icons {
  display: flex;
  gap: 10px;
}